:root {
  --colorLinea: rgba(193, 190, 189, 0.4);
}

/* Nav */
.navbar-nav {
  position: relative;
}

.navbar-nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--colorLinea);
}

.blogLink > a {
  color: var(--primary);
}

/* Titulo */
.containerTitulo {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  margin: 5rem auto 2rem auto;
  padding: 0 1rem;
}

.fondoTitulo {
  position: absolute;
  width: 100%;
  height: 25rem;
  background-color: var(--claro);
  z-index: -1;
}

.titulo {
  margin: auto;
  margin-bottom: 3rem;
  max-width: 50rem;
  text-align: center;
}

.titulo h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
  text-decoration-color: var(--primary2);
  text-decoration-skip-ink: none;
  text-underline-offset: 0.5rem;
  text-decoration-line: underline;
}

/* Foto */
.blogImg {
  margin: auto;
  margin-bottom: 3rem;
  padding: 0 1rem;
  max-width: 70rem;
  height: 30rem;
}

.blogImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Contenido Blog */
.containerBlog {
  margin: auto;
  padding: 3rem 10rem 4rem 10rem;
  max-width: 68rem;
  border-radius: 5px;
  background-color: var(--claro);
}

.containerBlog p {
  text-align: justify;
}

.containerBlog img {
  width: 100%;
  height: 25rem;
  border-radius: 5px;
  object-fit: cover;
}

.containerBlog a {
  color: var(--primary);
}

.containerBlog a:hover {
  color: var(--primary2);
}

.containerBlog h1,
.containerBlog h2,
.containerBlog h3,
.containerBlog h4,
.containerBlog h5,
.containerBlog h6 {
  margin: 1.5rem 0;
  font-weight: 600;
}