@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary: #ff5c5c;
  --light: rgb(245, 245, 245);
  --dark: #252525;
  --claro: #f7edde;
  --primary2: #ff7979;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.seccion {
  margin-top: 60px;
}

.seccion h2 {
  color: var(--dark);
}

.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  background-color: var(--primary2);
  border-color: var(--primary2);
}

.btn-square {
  width: 38px;
  height: 38px;
  background-color: var(--primary2);
}

.btn-square:hover {
  background-color: var(--light);
}

.btn-sm-square {
  width: 32px;
  height: 32px;
  background-color: var(--primary);
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.carousel {
  height: 35rem;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--claro);
  font-size: 0.9rem;
  text-align: center;
}

.navbar-brand {
  text-align: center;
  filter: contrast(0.1);
}

.navbar-brand img {
  width: 200px;
  height: 60px;
}

.nav-item {
  margin: 10px;
}

.nav-item a {
  color: var(--dark);
}

.infoHeader {
  margin-top: 0.2rem;
  margin-right: 1.5rem;
}

.infoHeader a {
  text-decoration: none;
  color: var(--dark);
  transition: all ease-in 150ms;
}

.contactoNav {
  display: flex;
  justify-content: space-around;
  background-color: var(--claro);
}

.navbar-Toggler {
  background-color: var(--primary);
}

.social-media p a:hover,
.infoHeader a:hover {
  color: var(--primary);
  transform: scale(1.2);
  transition: all ease-in 150ms;
}

.social-media p a {
  margin: 0.5rem 0px 0.5rem 1rem;
  text-decoration: none;
  color: var(--dark);
  transition: all ease-in 150ms;
}

.btnBuscar {
  color: var(--primary);
  border-color: var(--primary);
}

.btnBuscar:hover {
  color: var(--light);
  background-color: var(--primary);
}

.dropdown-menu {
  background-color: var(--light);
  position: relative;
}

.dropdown-menu::after {
  content: '';
  position: absolute;
  left: 5px;
  background-color: var(--primary);
  height: 90%;
  width: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-item {
  color: var(--light);
  transition: all 0.1s ease-in-out;
}

.nav-link {
  color: var(--light);
  font-size: 1.1rem;
}

.nav-link:focus {
  color: var(--primary);
}

.nav-link:hover {
  color: var(--primary);
}

.buscar {
  padding: 0 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.buscar:focus {
  outline-offset: 0.1rem;
  outline: var(--primary) 2px solid;
}

/* Carousel */
.tituloSlider {
  position: absolute;
  z-index: 100;
  display: flex;
  gap: 0.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: floralwhite;
  overflow: hidden;
}

.sliderPalabras {
  color: var(--primary);
  /* color: #DF6D00; */
  width: 14rem;
}

.sliderPalabras h1 {
  position: absolute;
  top: -3.5rem;
}

.fondo {
  position: absolute;
  z-index: 1;
  background-color: var(--dark);
  opacity: .3;
  width: 100%;
  height: 100%;
}

.slider {
  object-fit: cover;
}

/* Sobre Mí */
.seccionUno {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: var(--claro);
}

#sobreMi {
  margin-bottom: 1rem;
  color: var(--primary);
}

.seccionUnoInfo {
  display: inline-block;
  width: 35rem;
  text-align: justify;
  color: var(--dark);
}

.seccionUnoInfo span {
  color: var(--primary);
}

.fotoSantiago {
  width: 25rem;
  height: 25rem;
}

.fotoSantiago img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Herramientas */
.seccionDos {
  text-align: center;
}

.cardsSeccionDos {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bordeSeccionDos {
  transition: all ease-in 150ms;
  box-shadow: 0px 2px 10px 3px rgb(0, 0, 0, 0.4);
}

.bordeSeccionDos:hover {
  transform: scale(1.05);
  transition: all ease-in 250ms;
}

.imgCard {
  margin: auto;
  margin-top: 1rem;
  width: 16rem;
  height: 15rem;
  transition: all ease-in 250ms;
}

.imgCard img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.btnInfo {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: var(--claro);
  border: 1px solid var(--dark);
  color: var(--dark);
  text-decoration: none;
  transition: transform ease-in 250ms;
}

.btnInfo:hover {
  transform: scale(1.05);
  background-color: rgb(226, 211, 184);
  color: var(--dark);
  transition: transform ease-in 250ms;
}

/*Blog*/
.blog {
  margin-bottom: 40px;
  text-align: center;
}

.sliderBlog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 550px;
  background-color: var(--claro);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
}

.swiper-slide {
  margin: 0 1rem;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  box-shadow: 0 30px 50px rgb(0, 0, 0, 0.2);
  filter: blur(1px);
}

.swiper-slide-active {
  filter: blur(0);
}

.sliderImg {
  width: 100%;
  height: 250px;
}

.swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.infoSlider {
  position: relative;
  height: 230px;
  padding: 15px;
  background-color: white;
  text-align: center;
}

.infoSlider button {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Footer */
.footer {
  background-color: var(--dark);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #777777;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
  text-decoration: none;
}

.footer .btn.btn-link::before {
  position: relative;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: var(--primary2);
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary2);
  letter-spacing: 1px;
  box-shadow: none;
}

.inputEmail {
  color: var(--light);
  border: solid 1px var(--primary2);
  border-radius: 5px;
  outline: none;
}

.inputEmail:focus {
  outline: var(--primary2) 2px solid;
}

.copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.copyright a {
  color: var(--light);
}

.copyright a:hover {
  color: var(--primary2);
}

.derechos {
  text-align: left;
  color: rgb(119, 119, 119);
}

.mb-2 {
  color: rgb(119, 119, 119);
}

.footerIcon {
  color: var(--primary2);
}

.text-primary {
  color: #b78d65;
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

/* Media Queries */
@media (max-width: 1200px) {
  .fotoSantiago {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 1120px) {
  .searchform {
    display: none;
  }
}

@media (max-width: 1000px) {
  .contactoNav {
    display: none;
  }

  .dropdown-menu::after {
    display: none;
  }

  .dropdown-menu {
    border-color: var(--light);
  }

  .seccionUno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .seccionUnoInfo {
    width: initial;
  }

  .fotoSantiago {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .tituloSlider {
    left: 55%;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .carousel {
    height: 25rem;
  }

  .tituloSlider {
    left: 60%;
  }

  .sectionUno {
    margin: 3.75rem 1.5rem 0 1.5rem;
  }
}

.fondoIndex {
  position: relative;
  font-size: 1.2rem;
  color: var(--light);
}

.infoFondoIndex {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 9rem;
  transform: translateY(-50%);
  width: 30%;
}

.parallax {
  /* The image used */
  background-image: url("https://www.bachrescue.com//assets/01-Content-Library/01_pages/03_blog_article/06-Spain/RESCUE_SPAIN_Como_Conservar_la_serenidad_1400x420.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btnFondoIndex {
  color: var(--dark);
  background-color: rgb(228, 221, 209);
}

.btnFondoIndex:hover {
  transform: scale(1.2);
  background-color: rgb(226, 211, 184);
  color: var(--dark);
}

.animate__fadeInRight {
  --animate-duration: 2s;
}

.column {
  width: 49%;
  max-width: 560px;
}

.two-column {
  max-width: 260px;
  width: 48%;
  margin-bottom: 40px;
}

.eventoImg {
  max-width: 500px;
  max-height: 350px;
}

.eventoImg img {
  width: 100%;
  object-fit: cover;
}

.two-column .eventoImg {
  max-width: 250px;
  max-height: 175px;
}