@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary: #b78d65;
  --light: rgb(245, 245, 245);
  --dark: #252525;
}

.container {
  margin: 0 0.5rem;
}

.btn {
  color: var(--primary);
  border-color: var(--primary);
}

.btn:hover {
  color: var(--light);
  background-color: var(--primary);
}

/* Header */
.navbar {
	display: flex;
	justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.phone {
  margin-top: 0.2rem;
}

.phone a {
  text-decoration: none;
  color: var(--dark);
  transition: all ease-in 150ms;
}

.contactoNav {
  display: flex;
  justify-content: space-around;
  background-color: var(--light);
}

.social-media p a:hover,
.phone a:hover {
  color: var(--primary);
	transform: scale(1.2);
  transition: all ease-in 150ms;
}

.social-media p a {
  margin: 0.5rem 0px 0.5rem 1rem;
  text-decoration: none;
  color: var(--dark);
  transition: all ease-in 150ms;
}

.nav-link {
  color: var(--light);
}

.nav-link:focus {
  color: var(--primary);
}

.nav-link:hover {
  color: var(--primary);
}

.buscar {
  padding: 0 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.buscar:focus {
  outline-offset: 0.1rem;
  outline: var(--primary) 2px solid;
}